
/* fuentes retocadas */

h4 {
    margin-top: 0;
    font-size: 0.5rem;
    margin-right: 25px;
    font-weight: 200;
}

h1 {
    margin-bottom: 10px;
}

/* Imagen ocupa toda la pantalla */
#cabecera {
    display: grid;
    grid-column: 1 / 3;
    position: relative;
}

#cabecera img {
    grid-row: 1;
    grid-column: 1;
    width: 100%;
}

/* Caja que va encima */
.por-encima {
    grid-row: 1;
    grid-column: 1;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    padding: 20px;
    text-align: left;
    color: white;
}

#fila-redes {
    margin-top: 0;
    color: #ffffff;
    align-items: start;
    font-size: 10px;
    display: flex;
}

#fila-botones .boton-normal {
    background-color: #0E1E40;
}

#fila-botones .boton-normal:hover {
    background-color: #2b395e;

}

.boton-normal {
    margin-right: 10px;
}

#fila-enlace-redes img {
    width: 5%;
    padding: 5px;
    border: #FFC05A 1px solid;
    border-radius: 50%;
    cursor: pointer;
}

#fila-botones {
    display: flex;
    margin-bottom: 10px;
}


/* secion de informacion */


#primera-secion {
    grid-column: 1/3;
   padding: 2rem;
}

#primera-secion img {
    width: 100%;
}
#primera-secion button { margin-top: 3%;}

/* Textos de cada apartado */
.gestor {
    display: grid;
    grid-column: 1/3;
    text-align: center;
    margin-top: 30px;
    color: #2b395e;
    padding: 20px;
}

.gestor p {
    margin: 0;
    margin-top: -10px;
}


/* carrusel */
.carrusel {
    grid-column: 1/3;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
   margin: 2rem;
}

.carrusel-ventana {
    overflow: hidden;
    width: 100%;
}

.carrusel-track {
    display: flex;
    transition: transform 0.4s ease;
}

.card {
    min-width: 45%;
    margin-right: 20px;
    text-align: center;
}

.card img {
    width: 100%;
    aspect-ratio: 3 / 4;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.flecha {
    background: none;
    border: none;
    font-size: 40px;
    cursor: pointer;
    color: #2b395e;
}

/* 
zona de los logos */

#segunda-secion {
    grid-column: 1/3;
    padding: 2rem;
}

.partners {
    text-align: center;
    margin: 40px 20px;
    padding: 2%;
}

.logos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    align-items: center;
}

.logos img {
    width: 100%;
    max-width: 120px;
    margin: auto;
}

@media (min-width:920px) {


    #primera-secion {
        grid-column: 1/5;
        padding-top: 80px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .gestor {
        grid-column: 1/5;

    }

    .carrusel {
        grid-column: 1/5;
        margin: 50px 140px;
    }

    .card {
        min-width: 25%;
    }

    #segunda-secion {
        grid-column: 1/5;
        padding-top: 20px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .logos {
        grid-template-columns: repeat(6, 1fr);
        padding: 5%;
    }

}


@media (min-width:920px) {
 .movil {
        display: none;
    }
    #cabecera {
        grid-column: 1 / 5;

    }

    h4 {
    
    font-size: 0.8rem;
}

    .por-encima h4 {
        width: 60%;
    }


    .por-encima {
        margin-top: -110px;
        padding: 50px;
        text-align: left;
    }

    #fila-enlace-redes img {
        width: 20px;

    }

    #fila-botones .boton-normal {
        background-color: #0E1E40;
        width: 200px;
        margin-right: 20px;
    }

    #fila-botones .boton-normal:hover {
        background-color: #2b395e;

    }

    #fila-botones .boton-amarillo {
        width: 200px;

    }

    .video-bloke {
        grid-column: 1/5;
        display: flex;
        justify-content: center;
    }
}