#incluye-viaje {
    grid-column: 1/3;
    padding: 2rem;
    background-color: #f4f4f4;
   
}


/*BOTONES*/

.tabs-incluye {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
    gap: 2rem;
    background-color: #2B395E;

}


/* BOTON */

.tab-btn {
    padding: 1rem 2rem;
    border: none;
    background: transparent;
    color: #dee2e6;

    font-size: 1rem;
    cursor: pointer;
    border-bottom: 3px solid transparent;

    transition: 0.3s;
}


/* ACTIVO */

.tab-btn.active {
    color:#FFC05A;
    border-bottom: 3px solid #FFC05A;
}
.tab-btn:hover{color:#FFC05A;}



/*CONTENEDOR*/

.contenido-tabs {
    position: relative;
   height: 260px;
}


/* PANEL */

.tab-contenido {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    background-color: #dee2e6;
    opacity: 0;

    transform: translateY(10px);

    transition:
        opacity 0.25s ease,
        transform 0.25s ease;

    pointer-events: none;
}


/* PANEL ACTIVO */

.tab-contenido.active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}


/*TITULO */

.tab-contenido h2 {
    margin: 2rem;
    color: #fd0000;
    font-weight: 300;
}


/*LISTA*/
/* Esto anula el flex del estilos fijos */

.tab-contenido ul {
    display: block;
    padding-left: 3rem;
    padding-bottom: 1rem;
    
}

/* ITEMS */

.tab-contenido li {
    margin-bottom: 1rem;
    line-height: 1.5;
    font-size: 0.8rem;
}


@media screen and (min-width: 920px) {

    #incluye-viaje {
    grid-column: 1/5;
    padding: 3rem 6rem 3rem 6rem;
    margin-bottom: 4rem;
   
}

}