
/* apartado viajes */

.viajes {
    grid-column: 1/3;
    background: #eee;
    padding: 10px;
    text-align: center;
}

.grupo-viajes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}

/* card */

.card {
    position: relative;
    display: block;
    overflow: hidden;
}

.card img {
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
    display: block;
}

.card::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.272);
    z-index: 0;
}

.marco {
    position: absolute;
    z-index: 1;
    border: 1px solid #FFC05A;
    border-radius: 20px;
    inset: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.marco:hover {
    inset: 15px;
    cursor: pointer;
}

.marco h4 {
    font-size: 1rem;
    color: white;
    width: 80%;
}

.marco h4:hover{  color: #FFC05A;}



@media (min-width:900px) {

    .viajes {
        grid-column: 1/5;
        background: #eee;
        padding: 20px 20px;
        text-align: center;
    }

    .grupo-viajes {
        grid-template-columns: repeat(3, 1fr);
    }

    .marco {
        inset: 20px;

    }

    .marco:hover {
        inset: 30px;

    }
    .card h4 { font-size: 1.8rem;}
    
}