/* CONTENEDOR PRINCIPAL */
.carrusel {
    grid-column: 1/3;
    position: relative;
    height: 100vh;
    overflow: hidden;
}

/* SLIDER */
.slider {
    position: relative;
    width: 100%;
    height: 100%;
}

/* SLIDES */
.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    opacity: 0;
    transition: opacity 0.8s ease;
    z-index: 1;
}

.slide.activo {
    opacity: 1;
    z-index: 2;
}

/* overlay oscuro */
.slide::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.386);
    z-index: 1;
}

/* IMÁGENES */
.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: transform 8s linear;
}

.slide.activo img {
    transform: scale(1.1);
}

/* CONTENIDO (FIX IMPORTANTE) */
.contenido {
    position: absolute;
    top: 50%;
    left: 50%;

    /* estado inicial */
    transform: translate(-50%, -50%) scale(0.95);
    text-align: center;
    z-index: 5;

    opacity: 0;
    transition: all 2.0s ease;
}

.contenido h2{ color: white;}

/* animación SIN romper el centrado */
.slide.activo .contenido {
     transform: translate(-50%, -50%) scale(1);
    filter: blur(0);
    opacity: 1;
}

/* estado inicial animación */
.slide .contenido {
    transform: translate(-50%, -50%) translateY(20px);
}

/* BOTÓN */
.boton-carusel {
    width: 80px;
    display: inline-block;
    margin-top: 20px;
    padding: 5px 15px;
    border: 1px solid white;
    border-radius: 20px;
    text-decoration: none;
    color: white;
}

/* FADE NEGRO (FIX CLAVE) */
.fade-negro {
  position: absolute;
  inset: 0;
  background: black;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1.0s ease;
  z-index: 1;
}

.fade-negro.activo {
  opacity: 1;
}

/* 
.fade-negro {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: black;
    opacity: 0;
    pointer-events: none;

    z-index: 1; 
    transition: opacity 0.5s ease;
}

.fade-negro.activo {
    opacity: 1;
} */

/* LÍNEAS */
.linea {
    position: absolute;
    width: 1.5px;
    height: 90px;
    background: white;
    left: 50%;
    transform: translateX(-50%);
    z-index: 7;
}

.arriba {
    top: 20%;
}

.abajo {
    bottom: 20%;
}

/* PUNTOS (FIX Z-INDEX) */
.puntos {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px;

    z-index: 2; /* 🔥 MÁS ALTO QUE EL FADE */
}

.punto {
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    opacity: 0.5;
    cursor: pointer;
}

.punto.activo {
    opacity: 1;
}


#titulo {
    grid-column: 1/3;
    text-align: center;
    margin-bottom: 8%;
    margin-top: 5%;
}

#titulo hr {
    border-top: 1px solid #2b395e;
    width: 80%;
}


#titulo h2 {
    color: #2b395e;
}

#titulo a {
    margin: 2%;
    color: #5d616a;
}

#titulo a:hover {
    color: #CC9B44;
}

#titulo a#elegido {
    color: #CC9B44;
}


/* .overlay {
    position: absolute;
    inset: 10px;
    border: 1px solid orange;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
} */



footer {
    margin-top: 10px;
}

@media (min-width:920px) {


    .carrusel {
        grid-column: 1/5;
    }

    #titulo {
        grid-column: 1/5;
        margin-top: 10%;

    }

    #titulo hr {
        border-top: 1px solid #2b395e;
        width: 50%;
        margin-bottom: 40px;
    }


    #titulo h2 {
        font-size: 40px;
        margin-bottom: 50px;
    }

    #titulo a {
        margin-right: 25px;
        margin-left: 25px;
        font-size: 20px;
    }
}